@import "tailwindcss";
/* Slick Slider core styles */
/* @import "~slick-carousel/slick/slick.css"; */
/* Slick Slider theme (optional) */
/* @import "~slick-carousel/slick/slick-theme.css"; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #242424 ;
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #242424 ;
    background-color: #ffffff;
  }
}

@keyframes float {
  0%, 100% { transform: translateY(50); }
  50% { transform: translateY(-50px); }
}

/* Hide scrollbar but still allow scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
